---
job: extension
config:
  # this name will be the folder and filename name
  name: "{{MODEL_NAME}}"
  process:
    - type: 'sd_trainer'
      # root folder to save training sessions/samples/weights
      training_folder: "{{OUTPUT_DIR}}"
      device: cuda:0
      # if a trigger word is specified, it will be added to captions of training data if it does not already exist
      trigger_word: "{{TRIGGER_WORD}}"
      network:
        type: "lora"
        linear: 16
        linear_alpha: 16
      save:
        dtype: float16 # precision to save
        save_every: 250 # save every this many steps
        max_step_saves_to_keep: 4 # how many intermittent saves to keep
        push_to_hub: false
      datasets:
        # datasets are a folder of images. captions need to be txt files with the same name as the image
        - folder_path: "{{DATASET_PATH}}"
          # control path is the input images for kontext for a paired dataset (concept mode)
          # Comment this out for style_subject mode training
{{CONTROL_PATH_LINE}}
          caption_ext: "txt"
          caption_dropout_rate: 0.05  # will drop out the caption 5% of time
          shuffle_tokens: false  # shuffle caption order, split by commas
          cache_latents_to_disk: true  # leave this true unless you know what you're doing
          # Kontext runs images in at 2x the latent size. May OOM at 1024 with 24GB vram.
          resolution: [ 512, 768 ]
      train:
        batch_size: 1
        steps: {{TRAIN_STEPS}}  # total number of steps to train
        gradient_accumulation_steps: 1
        train_unet: true
        train_text_encoder: false
        gradient_checkpointing: true
        noise_scheduler: "flowmatch"
        optimizer: "adamw8bit"
        lr: 1e-4
        timestep_type: "weighted"
        skip_first_sample: true
        dtype: bf16
      model:
        name_or_path: "black-forest-labs/FLUX.1-Kontext-dev"
        arch: "flux_kontext"
        quantize: true
      sample:
        sampler: "flowmatch"
        sample_every: {{SAMPLE_EVERY}}
        width: 1024
        height: 1024
        prompts:
{{SAMPLE_PROMPTS}}
        neg: ""
        seed: 42
        walk_seed: true
        guidance_scale: 4
        sample_steps: 20
meta:
  name: "[name]"
  version: '1.0'
